*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif; 
}

main{
    max-width: 850px;
    margin: 0 auto;
}

header{
    text-align: center;
}

main header h1{
    color: #e52e76;
    font-size: 1.7em;
    padding-top: 25px;
    margin-bottom: 35px;
}

main p{
    font-size: 0.8em;
}

section{
    padding-top: 30px;
}

.badge{
    display: inline-block;
    margin-right: 10px;
    box-shadow: 3px 3px 3px 3px;
}

img{
    height: 70px;
}

.ban{
    color: white;
    font-size: 0.8em;
    font-weight: 700;
    background-color: #0f0e17;
    height: 70px;
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
    display: block;
}

.float{
    float: left ;
}

.text{
    font-weight: 400;
    font-size: 0.9em;
    padding-top: 5px;
}

a{
    color: skyblue;
}
